<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets"
        id="com.user.bb10bridgeconsole" version="1.0.0.1">

    <name>BB10 Bridge Console</name>
    <description>
        AngieAI / ChimeraOS bridge console for BlackBerry Classic (Q20).
        Connects to a Termux-hosted AngieAI instance (angieai-reasoner /
        angieai-onnx services) over the local network.
    </description>
    <author href="https://github.com/" email="">ChimeraOS / AngieAI</author>
    <license>Apache-2.0</license>

    <icon rim:hover="false" src="assets/icon-86.png" />
    <icon rim:hover="false" src="assets/icon-114.png" />
    <icon rim:hover="false" src="assets/icon-128.png" />

    <rim:splash src="assets/splash-1280x768.png" />

    <content src="index.html" />

    <!-- Bridge console talks to angieai-reasoner/angieai-onnx over the LAN -->
    <access subdomains="true" uri="*">
        <feature id="blackberry.system" required="true" version="1.0.0.0" />
        <feature id="blackberry.io.filetransfer" required="false" version="1.0.0.0" />
    </access>

    <rim:permissions>
        <rim:permit>access_internet</rim:permit>
        <rim:permit>read_device_identifying_information</rim:permit>
    </rim:permissions>

    <!-- Q20 / Classic square display target -->
    <rim:navigation mode="swipe" />
    <rim:orientation mode="portrait" />

    <preference name="autoOrients" value="false" />
    <preference name="ppiAppScaling" value="false" />
</widget>
